services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: send-message-backend
    env_file:
      - .env
    depends_on:
      - rabbitmq
      - postgres
    ports:
      - "8000:8000"
    restart: unless-stopped
    networks:
      - send_message_network
  worker-folha-ponto:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: send-message-worker-folha-ponto
    command: ["python", "-m", "app.workers.meta_queue_worker"]
    env_file:
      - .env
    depends_on:
      - rabbitmq
    restart: unless-stopped
    networks:
      - send_message_network

